---

interface Props {
    title: string;
    subtitle: string;
	description: string;
	services: string [];
    imgurl: string
    imgDescription: string
}

const { title, services, description, imgurl, subtitle, imgDescription } = Astro.props;

---

<article class="w-full flex">

    <div class="flex flex-col">

        <h3 class="text-2xl font-normal text-white mb-1">{title} <span class="text-[#05F26CF2]">{subtitle}</span></h3>

        <span class="text-lg font-extralight text-white mb-3">
            {description}
        </span>

       <ul class="flex flex-wrap gap-2 mb-2">
            {
                services.map( servicio => (
                <li><span class="text-white font-extralight text-sm py-0.5 px-4 bg-[#060814] rounded-full border-[1px] border-white">{servicio}</span></li>
                ))
            };
       </ul>

       <ul class="flex flex-row">
            <slot />
       </ul>
        
    </div>
        
    <div class="content-center">
        <img class="w-[26rem]" src={imgurl} alt={imgDescription}>
    </div>

</article>